{% extends 'attendance/base.html' %}
{% load static %}

{% block scripts %}
<!--Data Tables-->
<script type="text/javascript" language="javascript" src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>
<link rel="stylesheet" href="{% static 'datatables.net-bs/css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block title %}Administrator's section{% endblock %}
{% block aside %}
<div class="panel panel-default">
  <div class="panel-heading clickable">
    <h3 class="panel-title">
      <i class="fa fa-calendar-check-o panel-icon" aria-hidden="true"></i>
      Date selection
    </h3>
  </div>
  <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <p>Year: </p>
        </div>
         <div class="col-xs-8">
            <div class="btn-group btn-block ">
                <button type="button" class="btn btn-default btn-block  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="print-year"></span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'default_administrator' %}2015/{{month}}">2015</a></li>
                  <li><a href="{% url 'default_administrator' %}2016/{{month}}">2016</a></li>
                  <li><a href="{% url 'default_administrator' %}2017/{{month}}">2017</a></li>
                </ul>
            </div>
         </div>
         <div>&nbsp;</div>
         <div class="col-xs-4">
             <p>Month: </p>
         </div>
         <div class="col-xs-8">
            <div class="btn-group btn-block ">
                <button type="button" class="btn btn-default btn-block  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="print-month"></span>
                <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu">
                    <li><a href="{% url 'default_administrator' %}{{year}}/01/">January <span class="pull-right">[01]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/02/">February <span class="pull-right">[02]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/03/">March <span class="pull-right">[03]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/04/">April <span class="pull-right">[04]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/05/">May <span class="pull-right">[05]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/06/">June <span class="pull-right">[06]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/07/">July <span class="pull-right">[07]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/08/">August <span class="pull-right">[08]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/09/">September <span class="pull-right">[09]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/10/">October <span class="pull-right">[10]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/11/">November <span class="pull-right">[11]</span></a></li>
                    <li><a href="{% url 'default_administrator' %}{{year}}/12/">December <span class="pull-right">[12]</span></a></li>
                </ul>
            </div>
         </div>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading clickable">
    <h3 class="panel-title">
      <i class="fa fa-question panel-icon" aria-hidden="true"></i>
      Helpers
    </h3>
  </div>
  <div class="panel-body">
  	<p class="text-justify">Table in main content is sortable. You can sort any column you need, by clicking on sorting icons. Description of icons is shown in table below.</p>
  	<table class="table table-condensed table-primary-inverse">
  		<thead>
  			<th>Icon</th>
  			<th>Description</th>
  		</thead>
			<tr>
				<td><i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i></td>
				<td>Sorting enabled</td>
			</tr>
			<tr>
				<td><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></td>
				<td>Ascend sorting</td>
			</tr>
			<tr>
				<td><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></td>
				<td>Descend sorting</td>
			</tr>
		</table>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1><i class="fa fa-diamond" aria-hidden="true"></i> Admin <small>- for administrators only</small></h1>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#with-sessions" data-toggle="tab">Users With Sessions</a></li>
  <li><a href="#without-sessions" data-toggle="tab">Users Without Sessions</a></li>
</ul>
<div class="tab-content">
  <div id="with-sessions" class="tab-pane fade in active">
    <div class="panel panel-default">
      <div class="panel-body">
        <table id="users-with-sessions" class="table table-striped  table-responsive table-primary" cellspacing="0" width="100%">
          <thead class = "thead-inverse">
            <tr class="upper">
              <th>Last name</th>
              <th>FIRST NAME</th>
              <th>USERNAME</th>
              <th>WORK HOURS</th>
              <th>NOT WORK HOURS </th>
              <th>HOURS UNASSIGNED</th>
              <th>HOURS TOTAL</th>
              <th>Status</th>
              <th class="no-sort">DETAIL</th>
            </tr>
          </thead>
          <tbody>
            {% for user in user_data %}
              <tr
              {% if user.looks_ok %}
                class="ok-status"
              {% else %}
                class="nok-status"
              {% endif %}>
                <td>{{user.user.last_name}}</td>
                <td>{{user.user.first_name}}</td>
                <td>{{user.user.username}}</a></td>
                <td><strong>{{user.hours_work |floatformat:2}}</strong></td>
                 <td>{{user.hours_not_work |floatformat:2}}</td>
                <td>{{user.hours_unassigned |floatformat:2}}</td>
                <td>{{user.hours_total |floatformat:2}}</td>
                <td>{{user.looks_ok | yesno:"OK, Not OK" }}</td>
                <td class="btn-fill">
                  <a href="{% url 'sessions_month' username=user.user.username year=year month=month %}"
                  type="button" class="btn btn-sm btn-block btn-info">Detail</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="without-sessions" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-body">
        <table id="users-without-sessions" class="table table-striped table-responsive table-default" cellspacing="0" width="100%">
          <thead class="text-center">
            <tr class="upper">
              <th>Last name</th>
              <th>First name</th>
              <th>Username</th>
              <th class="btn-fill no-sort text-center">Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for user in empty_users %}
              <tr>
                <td>{{user.last_name}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.username}}</a></td>
                <td class="btn-fill text-center">
                  <a href="{% url 'sessions_month' username=user.username year=year month=month %}"
                  type="button" class="btn btn-sm btn-info">Detail</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
  /*Year value select display function*/
	var yearToPrint = 'Year';
	var url = window.location.href;
	if(url.indexOf("2015") > -1) {
		yearToPrint = '2015';
	} else
	if(url.indexOf("2016") > -1){
		yearToPrint = '2016';
	} else {
		yearToPrint = '2017';
	}
	$('.print-year').text(yearToPrint);

	/*Month value select display function*/
	var monthToPrint = 'Month';
	if(url.indexOf("/01") > -1) {
		monthToPrint = "January";
	} else
	if(url.indexOf("/02") > -1) {
		monthToPrint = "February";
	} else
	if(url.indexOf("/03") > -1) {
		monthToPrint = "March";
	} else
	if(url.indexOf("/04") > -1) {
		monthToPrint = "April";
	} else
	if(url.indexOf("/05") > -1) {
		monthToPrint = "May";
	} else
	if(url.indexOf("/06") > -1) {
		monthToPrint = "June";
	} else
	if(url.indexOf("/07") > -1) {
		monthToPrint = "July";
	} else
	if(url.indexOf("/08") > -1) {
		monthToPrint = "August";
	} else
	if(url.indexOf("/09") > -1) {
		monthToPrint = "September";
	} else
	if(url.indexOf("/10") > -1) {
		monthToPrint = "October";
	} else
	if(url.indexOf("/11") > -1) {
		monthToPrint = "November";
	} else {
		monthToPrint = "December";
	}
  $('.print-month').text(monthToPrint);

  //Making tables sortable
  $('#users-with-sessions').DataTable({
    "aaSorting": [
    	[0,'asc']
  	],
    "columnDefs": [{
      targets: 'no-sort',
      orderable: false
    }],
    "lengthMenu": [
    	[-1, 100, 50, 15],
    	["All", 100, 50, 15]
    ]
  });
  $('#users-without-sessions').DataTable({
    "aaSorting": [
    	[0,'asc']
  	],
    "columnDefs": [{
      targets: 'no-sort',
      orderable: false
    }],
    "lengthMenu": [
    	[-1, 100, 50, 15],
    	["All", 100, 50, 15]
    ]
  });
});
</script>
{% endblock %}
