<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <title>Hodoor - {% block title %}{% endblock %}</title>
    <!--Favicons for all devices-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <!--/favicons-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--BS-->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
    <!--jQuery-->
	  <script src="{% static 'jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <!--ICONIC PACKS and FONTS-->
    <!--Font awesome-->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <!--Custom fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--Own CSS Styles-->
    {% compress css %}
    <link id="mystyle" rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
    <link id="responsive" rel="stylesheet" type="text/x-scss" href="{% static 'css/responsive.scss' %}">
    {% endcompress %}
    <!--JAVASCRIPTS-->
    {% compress js %}
    <script type="text/javascript" language="javascript" src="{% static 'js/functions.js' %}"></script>
    {% endcompress %}
    <!--To load specific page depended scripts-->
    {% block scripts %}{% endblock %}
    <!---->
    {{form.media}}
  </head>
  <body class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="aside hidden-print">
					<!--aside content here-->
          <div class="row">
            <div class="col-md-12">
              <div id="myDropdown">
                <a href="#" class="dropdown-toggle btn btn-block myDropBtn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars menu-icon"></i><span class="menu-text">Hodoor - Menu</span></a>
                <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <!--List of items-->
                  <li class="col-xs-6">
                    <a class="dropmenu-item-btn" href="{% url 'home' %}">
                      <i class="fa fa-id-card-o" aria-hidden="true"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li class="col-xs-6">
                    <a class="dropmenu-item-btn" href="{% if user.is_staff %}{% url 'default_administrator'%}{% endif %}">
                      <i class="fa fa-diamond" aria-hidden="true"></i>
                      <span>Admin</span>
                    </a>
                  </li>
              <!--Next row-->
                  <li class="col-xs-6">
                    <a class="dropmenu-item-btn" href="{% url 'swipes' user.username %}">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                      <span>Swipes</span>
                    </a>
                  </li>
                  <li class="col-xs-6">
                    <a class="dropmenu-item-btn" href="{% url 'sessions' user.username %}">
                      <i class="fa fa-cubes" aria-hidden="true"></i>
                      <span>Sessions</span>
                    </a>
                  </li>
              <!--Next row-->
                  <!--
                  <li class="col-xs-6">
                    <a class="dropmenu-item-btn disabled" href="#">
                      <i class="fa fa-cogs" aria-hidden="true"></i>
                      Settings
                    </a>
                  </li>
                  <li class="col-xs-12">
                    <a class="dropmenu-item-btn-wide" href="{%url 'logout' %}">
                      <i class="fa fa-power-off" aria-hidden="true"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                -->
                <li class="col-xs-6">
                  <a class="dropmenu-item-btn" href="/admin/" target="_blank">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Settings
                  </a>
                </li>
                <li class="col-xs-6">
                  <a class="dropmenu-item-btn" href="{%url 'logout' %}">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <span>Logout</span>
                  </a>
                </li>
                <!--//List of items-->
                {% endif %}
                </ul>
              </div>
            </div>
          </div><!--//Menu Top - ROW-->
          {% block aside %}
          {% endblock %}
          <!--//aside content here-->
          </div>
        </div>
        <div class="col-md-10">
          <div class="loader">
            <div class="loader-spin"></div>
            <!--<div class="loader-text">Loading...</div>-->
          </div>
          <div class="content">
          <!--content here-->
          {% block content %}
          {% endblock %}
          <!--//content here-->
          </div>
        </div>
      </div>
     <!--To make top distance-->
      <div class="row">
        <div class="col-md-12">
          <p class="visible-sm visible-xs">&nbsp;</p>
          <p class="visible-sm visible-xs"></p>
        </div>
      </div>
      <!--/-->
      <div class="footer hidden-print">
        <div class="visible-xs visible-sm" style="min-height: 70px;"></div>
        <div class="navbar navbar-fixed-bottom" role="navigation">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-md-offset-5 col-xs-12">
                <div class="navbar-text text-center">
                  <p class="hodoor-footer-text text-center">&lt; &frasl;  <a href="https://github.com/hodooor">Hodoor</a> - made with <i class="fa fa-heart love"></i> and  <i class="fa fa-coffee coffee"></i> &gt;</p>
                </div>
              </div>
              <div class="col-md-1 col-md-offset-4 col-xs-12 text-center">
                <a href="#" class="scrollup" data-toggle="tooltip" data-placement="top" title="Scroll up!"><i class="fa fa-arrow-circle-o-left fa-rotate-90 " aria-hidden="true"></i></a>
              </div>
              <div class="col-xs-12 visible-sm visible-xs">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
