{% extends 'attendance/base.html' %}
{% block header_text %}
{{ user.username }} Sessions 
{{month}}-{{year}}
{% endblock %}
{% block content %}
{% endblock %}

{% block table %}
<thead class = "thead-inverse">
	     <tr>
	    	<th>DATE</th>
	    	<th>PROJECT</th>
	    	<th>TIME SPEND</th>
	    	<th>DESCRIPTION</th>
	    	<th>DURATION</th>
	    	<th>BREAKS</th>
	    	<th>STATUS</th>
	    	<th>ID</th>
	  	</tr>
</thead>
<tbody>
{% for session in sessions%}
        <tr>	
        	<td>{{session.get_date|date:'d.m.'}}</td>
        	<td>
        		<table class = "table-condensed">
        			{% for sep in session.projectseparation_set.all %}
        			<tr><td>{{sep.project.name}}</td></tr>
        			{% endfor %}
        		</table>
        	</td>
        	<td>
        		<table class = "table-condensed">
        			{% for sep in session.projectseparation_set.all %}
        			<tr><td>{{sep.time_spend}}</td></tr>
        			{% endfor %}
        		</table>
        	</td>  
        	<td>
        		<table class = "table-condensed">
        			{% for sep in session.projectseparation_set.all %}
        			<tr><td>{{sep.description}}</td></tr>
        			{% endfor %}
        		</table>
        	</td> 
        	<td>{{ session.session_duration }}</td> 
        	<td>{{ session.breaks_duration }}</td> 
        	<td>{{ session.is_session_complete |yesno:"Complete, Open" }}</td>
        	<td>{{ session.id }}</td>
        	<td><a href="{% url 'session_detail' username=user.username id=session.id %}" type="button" class="btn btn-info">Edit</a></td>
        </tr>
{% endfor %}
</tbody>

{% endblock %}