{% extends 'attendance/base.html' %}
{% block header_text %}All Sessions{% endblock %}

{% block content %}
{% endblock %}

{% block table %}
	<thead>
     <tr>
    	<th>ID</th>
    	<th>USERNAME</th>
    	<th>DURATION</th>
    	<th>DESCRIPTION</th>
    	<th>NUMBER_OF_BREAKS</th>
    	<th>BREAKS_DURATION</th>

  	</tr>
  	</thead>
    {% for session in session_list%}
    <tr>	
    		<td>{{ session.id }}</td>
        	<td>{{ session.user.username }}</td>
        	<td>{{ session.duration }}</td>
        	<td>{{ session.description }}</td>
        	<td>{{ session.num_of_breaks }}</td>
        	<td>{{ session.breaks_duration }}</td>
        	<td>{{ session.session_duration_overall }}</td>
    </tr>
    {% endfor %}

{% endblock %}
