<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
{% block content %}
    <h2>Sessions</h2>
	    <table>
	     <tr>
	    	<th>ID</th>
	    	<th>USERNAME</th>
	    	<th>DURATION</th>
	    	<th>DESCRIPTION</th>
	    	<th>MODIFIED</th>
	    	<th>ID<th>
	  	</tr>
        {% for session in my_favorite_sessions %}
        <tr>	
        		<td>{{ session.id }}</td>
            	<td>{{ session.user.username }}</td>
            	<td>{{ session.duration }}</td>
            	<td>{{ session.description }}</td>
            	<td>{{ session.modifed }}</td>
            	<td>{{ swipe.}}</td>>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>