{% extends 'attendance/base.html' %}
{% load crispy_forms_tags %}

{% block header_text %}
Session {{ id }} Detail
{% endblock %}

{% block table%}
	  	
{% endblock %}
{% block content %}
<h2>Info</h2>
<table class="table table-hover">
	<thead>
	<tr>
	  <th class="col-md-2">PARAMETER</th>
	  <th class="col-md-2">VALUE</th>
	  <th class="col-md-8">DESCRIPTION</th>
	</tr>
	</thead>
	<tbody>	
    <tr>
        <td data-field="key" class="key">Overall Duration</td>
        <td data-field="value">{{session.session_duration_overall}}</td>
        <td data-field="description">Duration of whole session from incomming to outgoing swipe.<td>
    </tr>
    <tr>
        <td data-field="key" class="key">Work Duration</td>
        <td data-field="value">{{session.session_duration}}</td>
        <td data-field="description">Clean work time. This value should be assigned to projects.<td>
    </tr>
    <tr>
        <td data-field="key" class="key">Not Assigned Duration</td>
        <td data-field="value"></td>
        <td data-field="description">Time, that was not assigned to projects. Should be 0 after end of month<td>
    </tr>
    <tr>
        <td data-field="key" class="key">Number of Breaks</td>
        <td data-field="value">{{session.num_of_breaks}}</td>
        <td data-field="description">Number of breaks during this session.<td>
    </tr>
    <tr>
        <td data-field="key" class="key">Breaks Duration</td>
        <td data-field="value">{{session.breaks_duration}}</td>
        <td data-field="description">Sum of duration of all breaks during this session.<td>
    </tr>
    <tr>
        <td data-field="key" class="key">Session Status</td>
        <td data-field="value">{{ session.is_session_complete |yesno:"Complete, Open" }}</td>
        <td data-field="description">Session is open, if there is no outgoing swipe<td>
    </tr>
    <tr>
        <td data-field="key" class="key">Session Modified</td>
        <td data-field="value">{{ session.is_session_complete }}</td>
        <td data-field="description">Session is modified, if some of it's swipes were corrected.<td>
    </tr>
    </tbody>
</table>
<h2>Swipes</h2>
<table class="table">
<thead>
  <tr>
    <th>TYPE</th>
    <th>TIME</th>
    <th>DATE</th>
    <th>ID</th>
  	<th>CORRECTION OF</th>
  </tr>
</thead>
<tbody>
	{% for swipe in swipes %}
	<tr>
		<td>{{swipe.swipe_type}}</td>
		<td>{{swipe.datetime| date:'H:i:s'}}
		<td>{{swipe.datetime| date:'D d.m.Y'}}
		</td><td>{{swipe.id}}</td>
		</td><td>{{swipe.correction_of_swipe.id}}</td>    
	</tr>
	{% endfor %}
</tbody>
</table>


<h2>Projects</h2>
<table class="table">
<thead>
  <tr>
    <th class="col-md-2">PROJECT</th>
    <th class="col-md-2">TIME SPEND</th>
    <th class="col-md-6">DESCRIPTION</th>
    <th class="col-md-2"></th>
  </tr>
</thead>
<tbody>
	{% for separation in separations %}
	<tr>
		<td>{{separation.project}}</td><td>{{separation.time_spend}}</td><td>{{separation.description}}</td>  
	</tr>
	{% endfor %}
	<form method='POST' action=''>{% csrf_token %}
	<tr>
		{% for form in project_separation_form %}
			<td>{{form}}</td>
		{% endfor %}
		<input type='submit' value = 'Save'/>
	</tr>	
	</form>
	
</tbody>
</table>




{% endblock %}