{% extends 'attendance/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
<!--Moment.js: used for timepicker-->
<script src="{% static 'moment/moment.js'%}"></script>
<!--bootstrap-DateTimePicker-->
<script type="text/javascript" language="javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
<!--My tooltips-->
<script type="text/javascript" language="javascript" src="{% static 'js/tooltips.js' %}"></script>
{% endblock %}

{% block title %}Session detail{% endblock %}
{% block aside %}
<div class="panel panel-default">
  <div class="panel-heading clickable">
    <h3 class="panel-title">
      <i class="fa fa-info panel-icon" aria-hidden="true"></i>
      Session info
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed table-primary-inverse table-responsive">
      <thead>
      <tr class="upper">
        <th class="">PARAM.</th>
        <th class="">VALUE</th>
        <th class=""></th>
        <!--<th class="col-md-10">DESCRIPTION</th>-->
      </tr>
      </thead>
      <tbody>
      <tr>
          <td data-field="key" class="key">Overall Duration</td>
          <td data-field="value">{{session.session_duration_overall}}</td>
          <td><i id="tooltip7" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right" title=""></i></td>
      </tr>
      <tr>
          <td data-field="key" class="key">Work Duration</td>
          <td data-field="value">{{session.session_duration}}</td>
          <td><i id="tooltip8" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right" title=""></i></td>
      </tr>
      <tr>
          <td data-field="key" class="key">Not Assigned Duration</td>
          <td data-field="value" class="not-assigned">{{session.get_not_assigned_duration}}</td>
          <td><i id="tooltip9" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right"></i></td>
      </tr>
      <tr>
          <td data-field="key" class="key">Number of Breaks</td>
          <td data-field="value">{{session.num_of_breaks}}</td>
          <td><i id="tooltip10" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right"></i></td>
      </tr>
      <tr>
          <td data-field="key" class="key">Breaks Duration</td>
          <td data-field="value">{{session.breaks_duration}}</td>
          <td><i id="tooltip11" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right"></i></td>
      </tr>
      <tr>
          <td data-field="key" class="key">Session Status</td>
          <td data-field="value" class="status">{{ session.is_session_complete |yesno:"Complete, Open" }}</td>
          <td><i id="tooltip12" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right"></i></td>
      </tr>
      <tr>
          <td data-field="key" class="key">Session Modified</td>
          <td data-field="value">{{ session.modified }}</td>
          <td><i id="tooltip13" class="fa fa-question-circle question " aria-hidden="true" data-toggle="tooltip" data-placement="right"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="page-header">
  <h1><i class="fa fa-cubes"></i> Session detail - <small>info about current session and related swipes</small></h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Swipes related to session</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-responsive table-primary">
      <thead>
        <tr>
          <th>DATE</th>
          <th>TIME</th>
          <th>TYPE</th>
          <th>SESSION</th>
          <th>SOURCE</th>
          <th>CORRECTION OF SWIPE</th>
          <th>ID</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        {% for swipe in swipes %}
        <tr>
          <td>{{swipe.datetime| date:'D d.m.Y'}}</td>
          <td>{{swipe.datetime| date:'H:i:s'}}</td>
          <td>
            <a href="#" data-toggle="tooltip" data-placement="right" title="
                {% if swipe.swipe_type == 'IN' %} You came to work
                {% elif swipe.swipe_type == 'OUT' %} You leaved work
                {% elif swipe.swipe_type == 'OBR' %} You have had a break
                {% elif swipe.swipe_type == 'FBR' %} You came from break back to work
                {% elif swipe.swipe_type == 'OTR' %} You were traveling on work trip
                {% elif swipe.swipe_type == 'FTR' %} You came back from work trip
                {% endif %}
            ">
            {% if swipe.swipe_type == 'IN' %}
              <i class="fa fa-sign-in swipe-int-icon" aria-hidden="true"></i>
            {% elif swipe.swipe_type == 'OUT' %}
              <i class="fa fa-sign-out swipe-int-icon" aria-hidden="true"></i>
            {% elif swipe.swipe_type == 'OBR' %}
              <i class="fa fa-coffee swipe-int-icon" aria-hidden="true"></i>
            {% elif swipe.swipe_type == 'FBR' %}
              <i class="fa fa-clock-o swipe-int-icon" aria-hidden="true"></i>
            {% elif swipe.swipe_type == 'OTR' %}
              <i class="fa fa-suitcase swipe-int-icon" aria-hidden="true"></i>
            {% elif swipe.swipe_type == 'FTR' %}
              <i class="fa fa-share-square swipe-int-icon" aria-hidden="true"></i>
            {% endif %}
            </a>
          </td>
          <td><a href="{% url 'session_detail' username=user.username id=swipe.session.id %}">{{swipe.session}}</a></td>
          <td></td>
          <td>{% if swipe.correction_of_swipe%}<a href="{% url 'swipe_detail' username=user.username id=swipe.correction_of_swipe.id %}">{{ swipe.correction_of_swipe.id}}</a>{% endif %}</td>
          <td>{{swipe.id}}</td>
          <td class="text-center"><a href="{% url 'swipe_detail' username=user.username id=swipe.id %}" class="btn btn-info">Detail</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!--<div class="col-md-2 col-md-offset-8">
	<a class="btn btn-danger pull-right" value="Previous Page"
	href="{{ return_url }}">
	<span class="glyphicon glyphicon-chevron-left"></span> Go back to sessions page</a>
</div>-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Projects</h2>
  </div>
  <div class="panel-body">
    <table class="table table-responsive table-default">
      <thead>
        <tr>
          <th class="col-md-2">PROJECT</th>
          <th class="col-md-2">TIME SPEND</th>
          <th class="col-md-6">DESCRIPTION</th>
          <th class="col-md-1"></th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for separation in separations %}
        <tr>
          <td>{{separation.project}}</td>
          <td>{{separation.time_spend}}</td>
          <td>{{separation.description}}</td>
        </tr>
        {% endfor %}
        <form method='POST' action=''>{% csrf_token %}
        <tr>
          {% for field in project_separation_form %}
            <td>{{field}}</td>
          {% endfor %}
          <td><input type="submit" class="btn btn-success" value="Add" /></td>
        </tr>
        </form>

      </tbody>
    </table>
  </div>
</div>
<script>
/*Add timepicker to this field*/
//separate max values
var separateTime = $('#id_time_spend').val().split(":");
var TimeHours = separateTime[0];
var TimeMinutes = separateTime[1];
var TimeSeconds = separateTime[2];
//add timepicker with options
$('#id_time_spend').datetimepicker({
  format: "HH:mm:ss",
  maxDate: moment({
    h:TimeHours,
    m:TimeMinutes,
    s:TimeSeconds
  })
});
/*
$('#id_time_spend').parent().wrapInner('<div/>');
$('#id_time_spend').parent().addClass('input-group');
$('#id_time_spend').parent().parent().wrapInner('<div/>');
$('#id_time_spend').parent().parent().addClass('form-group');
$('#id_time_spend').parent().parent().parent().wrapInner('<div/>');
$('#id_time_spend').parent().parent().parent().addClass('form-inline col-md-9');
$('#id_time_spend').addClass('form-control');
$('#id_time_spend').parent().append(
  '<div id="id_time_spend_opener" class="input-group-addon" data-toggle="tooltip" title="Open Time Picker"><i class="fa fa-clock-o"></i></div></div>'
);
*/

/*Edit Bootstrap default form-controls on this page*/
$('tbody > tr > td > select').each(function() {
  $(this).addClass('form-control');
});
$('tbody > tr > td > input').each(function() {
  $(this).addClass('form-control');
});
$('tbody > tr > td > textarea').each(function() {
  $(this).addClass('form-control');
  $(this).attr('rows', '1');
});
</script>
{% endblock %}
