{% extends 'attendance/base.html' %}
{% load crispy_forms_tags %}

{% block header_text %}
Swipe {{ id }} - detail
{% endblock %}

{% block content-top %}
<div class="col-md-2 col-md-offset-10">
	<a class="btn btn-danger" href="{% url 'swipes' user.username %}"><span class="glyphicon glyphicon-chevron-left"></span> Go back to swipes page</a>
</div>
<table class="table table-hover">

	<thead>
	<tr>
	  <th class="col-md-2">PARAMETER</th>
	  <th class="col-md-4">VALUE</th>
	  <th class="col-md-6">DESCRIPTION</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	    <td data-field="key" class="key">Swipe Type</td>
	    <td data-field="value">{{swipe.swipe_type}}</td>
			<td></td>
	</tr>
	<tr>
	    <td data-field="key" class="key">Belongs to Session</td>
	    <td data-field="value">{% if swipe.session %}<a href="{% url 'session_detail' username=user.username id=swipe.session.id %}">{{swipe.session}}</a>{% endif %}</td>
			<td></td>
	</tr>
	
	{% if corrected_by %}
	<tr>
		<td data-field="key" class="key">Was corrected by</td>
		<td data-field="key" class="key"><a href="{% url 'swipe_detail' username=user.username id=corrected_by.id %}">{{ corrected_by.id}}</a></td>
		<td data-field="key" class="key"></td>
	</tr>
	{% endif %}
	
	{% if swipe.correction_of_swipe %} 
		<td data-field="key" class="key">Is Correction of Swipe</td>
		<td data-field="key" class="key"><a href="{% url 'swipe_detail' username=user.username id=swipe.correction_of_swipe.id %}">{{ swipe.correction_of_swipe.id}}</a></td>
		<td data-field="key" class="key"></td>
	{% endif %}
	
	{% if not swipe.swipe_set.count %} 
		<tr>
		    <td data-field="key" class="key">Datetime</td>
		    <form method='POST' action=''>{% csrf_token %}
		   	{% for f in form %}
				<td>{{f}}</td>
			{% endfor %}
				<td><input id="submit" type='submit' class="btn btn-primary" value ='Submit Change'/></td>
			</form>
		</tr>

	{% else %}
		<tr>
		    <td data-field="key" class="key">Datetime</td>
			<td>{{swipe.datetime | date:'D d.m.Y H:i:s'}}</td>
		</tr>
	{% endif %}


</tbody>
</table>
{{form.errors}}
<div class="col-md-3">
</div>
{% endblock %}
