{% extends 'attendance/base.html' %}
{% load static %}

{% block title %}Swipes{% endblock %}
{% block aside %}

<div class="panel panel-default">
  <div class="panel-heading clickable">
    <h3 class="panel-title">
      <i class="fa fa-question panel-icon" aria-hidden="true"></i>
      Helpers
    </h3>     
  </div>
  <div class="panel-body">     
  	<table class="table table-condensed table-primary-inverse">
			<tr>
				<td><i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i></td>
				<td>Sorting enabled</td>
			</tr>
			<tr>
				<td><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></td>
				<td>Ascend sorting</td>
			</tr>
			<tr>
				<td><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></td>
				<td>Descend sorting</td>
			</tr>
		</table>
  </div>
</div>
<!--
<h3><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Helpers</h3>
<table class="table table-condensed table-primary-inverse">
	<tr>
		<td><i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i></td>
		<td>Sorting enabled</td>
	</tr>
	<tr>
		<td><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></td>
		<td>Ascend sorting</td>
	</tr>
	<tr>
		<td><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></td>
		<td>Descend sorting</td>
	</tr>
</table>
-->
{% endblock %}
{% block content %}
<div class="page-header">
	<h1><i class="fa fa-cube"></i> Swipes - <small>all of swipe informations are here</small></h1>
</div>
<table class="table table-striped table-hover table-bordered table-responsive table-primary" id="swipes-table">
<thead>
  <tr class="upper">
    <th>Date</th>
    <th>Time</th>
    <th>Type</th>
    <th>Session</th>
    <th>Source</th>
  	<th>Swipe correction</th>
  	<th>Id</th>
  	<th class="text-center no-sort btn-fill"></th>
  </tr>
</thead>
<tbody>

	{% for swipe in swipes %}

	<tr class="hiddenRow">
		<td>{{swipe.datetime| date:'Y-m-d | D'}}</td>
		<td>{{swipe.datetime| date:'H:i:s'}}</td>
		<td>
			<span data-toggle="tooltip" data-placement="right" 
			title="
					{% if swipe.swipe_type == 'IN' %} Coming to work
					{% elif swipe.swipe_type == 'OUT' %} Leave work
					{% elif swipe.swipe_type == 'OBR' %} Break
					{% elif swipe.swipe_type == 'FBR' %} Coming from break back to work
					{% elif swipe.swipe_type == 'OTR' %} On work trip
					{% elif swipe.swipe_type == 'FTR' %} From work trip
					{% endif %}
			">
			{% if swipe.swipe_type == 'IN' %}
				<i class="fa fa-sign-in swipe-int-icon" aria-hidden="true"></i>
			{% elif swipe.swipe_type == 'OUT' %}
				<i class="fa fa-sign-out swipe-int-icon" aria-hidden="true"></i>
			{% elif swipe.swipe_type == 'OBR' %}
				<i class="fa fa-coffee swipe-int-icon" aria-hidden="true"></i>
			{% elif swipe.swipe_type == 'FBR' %}
				<i class="fa fa-clock-o swipe-int-icon" aria-hidden="true"></i>
			{% elif swipe.swipe_type == 'OTR' %}
				<i class="fa fa-suitcase swipe-int-icon" aria-hidden="true"></i>
			{% elif swipe.swipe_type == 'FTR' %}
				<i class="fa fa-share-square swipe-int-icon" aria-hidden="true"></i>
			{% endif %}

			</span>
		</td>
		<td><a href="{% url 'session_detail' username=user.username id=swipe.session.id %}">{{swipe.session}}</a></td>
		<td></td>
		<td>{% if swipe.correction_of_swipe%}<a href="{% url 'swipe_detail' username=user.username id=swipe.correction_of_swipe.id %}">{{ swipe.correction_of_swipe.id}}</a>{% endif %}</td>
		<td>{{swipe.id}}</td>
		<td class="text-center btn-fill">
			<a href="{% url 'swipe_detail' username=user.username id=swipe.id %}" class="btn btn-sm btn-block btn-primary">
			Detail</a>
		</td>
	</tr>

	{% endfor %}
</tbody>
</table>
<div class="visible-md visible-lg">
	<p>&nbsp;</p>
</div>
<script type="text/javascript">
$(document).ready(function(){
	//$('.hiddenRow').css('display', 'none');
  //===================================Show/Hide Swipes================================
  var SwipesBtn = $('#showAll'); //get identifier for clickable button
  var MaxNumOfRow = 18; //how many rows should be vissible
  var btnText1 = " View All Swipes";
  var btnText2 = " Hide until last " + MaxNumOfRow;
  var btnClass1 = "btn-primary";
  var btnClass2 = "btn-danger";
  var btnTitle1 = "Click to show all of swipes";
  var btnTitle2 = "Click to hide all records until last " + MaxNumOfRow;
  var rows = $('table.table tbody tr'); //get row indexes
  var rowsCount = rows.length; //get max count of table rows
  var btnState = 0; //bool, btnState if 0 then button is activated

  //calling functions after button event
  $(SwipesBtn).click(function() {
  	if(!btnState) {
			$(SwipesBtn).html('<span id="showAllSpan" class="glyphicon glyphicon-chevron-up"></span>'+btnText2);
			$(SwipesBtn).removeClass(btnClass1);
			$(SwipesBtn).addClass(btnClass2);
			$(SwipesBtn).attr('data-original-title', btnTitle2)
			HideRows(rows);
			btnState = !btnState;
  	} else {
			$(SwipesBtn).html('<span id="showAllSpan" class="glyphicon glyphicon-chevron-down"></span>'+btnText1);
			$(SwipesBtn).removeClass(btnClass2);
			$(SwipesBtn).addClass(btnClass1);
			$(SwipesBtn).attr('data-original-title', btnTitle1)
			UnhideRows(rows);
  		btnState = !btnState;
  	}
  });

  //Hidding/showing all of the swipes in SWIPES template
  function HideRows(rows) {
	    rows.filter('.hiddenRow').fadeIn('slow'); //show()
  }
  function UnhideRows(rows) {
	    rows.filter('.hiddenRow').fadeOut('slow'); //hide()
  }

	//=====================================Hidding last rows filter======================
	//hidding last rows, if rowIndex is lower than VALUE then remove hidding
	rows.filter(function( index ) { return index > rowsCount-MaxNumOfRow; }).removeClass("hiddenRow");

	//HideRows(rows);

	//console.log(rowsCount);
	//console.log(rows);

	$('#swipes-table').DataTable({
    "aaSorting": [
    	[0,'desc']
  	],
    "columnDefs": [{ 
    	targets: 'no-sort', 
    	orderable: false 
    }],
    "lengthMenu": [
    	[15, 50, 100, -1], 
    	[15, 50, 100, "All"]
    ]

  });

});  
</script>
{% endblock %}
