{% extends 'attendance/base.html' %}
{% block header_text %}{{ user.username }} Swipes{% endblock %}
{% block content %}

{% endblock %}

{% block table %}
<thead>
  <tr>
    <th>DATE</th>
    <th>TIME</th>
    <th>TYPE</th>
    <th>SESSION</th>
    <th>SOURCE</th>
  	<th>CORRECTION OF SWIPE</th>
  	<th>ID</th>
  	<th>DETAIL</th>
  </tr>
</thead>
<tbody>
	{% for swipe in swipes %}
	<tr>
		<td>{{swipe.datetime| date:'D d.m.Y'}}</td>
		<td>{{swipe.datetime| date:'H:i:s'}}</td>
		<td>{{swipe.swipe_type}}</td>
		
		
		<td><a href="{% url 'session_detail' username=user.username id=swipe.session.id %}">{{swipe.session}}</a></td>
		<td></td>
		<td>{% if swipe.correction_of_swipe%}<a href="{% url 'swipe_detail' username=user.username id=swipe.correction_of_swipe.id %}">{{ swipe.correction_of_swipe.id}}</a>{% endif %}</td>
		<td>{{swipe.id}}</td>
		<td><a href="{% url 'swipe_detail' username=user.username id=swipe.id %}">Detail</a></td>   
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
