{% extends 'attendance/base.html' %}
{% load static %}
{% block header_text %}
User's profile page
{% endblock %}

{% block table%}
	  	
{% endblock %}
{% block content %}



<div class="col-md-3">
	<img src="{% static "user_img/default.gif" %}" alt="Users profile image" class="img-circle img-responsive userImage"/>
</div>
<div class="col-md-9">
	<h3>{{user.first_name}} {{user.last_name}} ({% if user.is_superuser %}Admin{% else %}User{% endif %})</h3>
	<table class="table table-responsive">
		<tr>
			<td><h4>Name</h4></td>
			<td><h4>{{user.first_name}}</h4></td>
		</tr>
		<tr>
			<td><h4>Surname</h4></td>
			<td><h4>{{user.last_name}}</td>
		</tr>
		<tr>
			<td><h4>Email</h4></td>
			<td><h4>{{user.email}}</td>
		</tr>
		<tr>
			<td><h4>Login</h4></td>
			<td><h4>{{user.username}}</td>
		</tr>
	</table>

	<h3>Attendance info</h3>
	<hr/>
	<p class="lead">Hours this month: {{ hours_this_month|floatformat:2}}</p>
	<p class="lead">Sessions this month: </p>
</div>



{% endblock %}
