/*------------------------------------------
Author: Patrik Predny,
Title: My Custom SCSS style
Year: 2017,
License: MIT,
------------------------------------------*/

/*----------------------------------------*/
/* IMPORT SASS file for COLOURS set up    */
/*----------------------------------------*/
@import 'colors-sass';
/*----------------------------------------*/


/*compiled colors*/
.green {
	color: $green;
}
.blue {
	color: $li-blue;
}
.primary-text {
	color: $primary;
}
.big-text {
	font-size: 1.3em;
}
.bold {
	font-weight: bold;
}
/*----------------------------------------*/
/*default transitions*/
/*----------------------------------------*/
$fast: 0.3s;
$mid: 0.5s;
$slow: 0.7s;

/*----------------------------------------*/
/*sizes df boxes*/
/*----------------------------------------*/
$big: 32px;
$small: 20px;

$basic-font: 14px;

/*----------------------------------------*/
/*borders*/
/*----------------------------------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-side($radius) {
		border-bottom-left-radius: $radius;
		border-bottom-right-radius:$radius;
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;

		-ms-border-bottom-left-radius: $radius;
		-ms-border-bottom-right-radius:$radius;
		-ms-border-top-left-radius: $radius;
		-ms-border-top-right-radius: $radius;

		-webkit-border-bottom-left-radius: $radius;
		-webkit-border-bottom-right-radius:$radius;
		-webkit-border-top-left-radius: $radius;
		-webkit-border-top-right-radius: $radius;

		-moz-border-bottom-left-radius: $radius;
		-moz-border-bottom-right-radius:$radius;
		-moz-border-top-left-radius: $radius;
		-moz-border-top-right-radius: $radius;
}

@mixin box-shadow($shadow) {
	/*box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;*/
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
}

@mixin font-shadow($h-shadow, $v-shadow, $blur, $color) {
	/*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
	text-shadow: $h-shadow $v-shadow $blur $color;
}
/*----------------------------------------*/
/*styling the browsers scroll bar*/
/*----------------------------------------*/
@mixin scrollbars($size, $foreground-color, $background-color) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
/*----------------------------------------*/
/*Make my scroll bar sexy*/
@include scrollbars(.7em, $primary, $darkest-blue);
/*----------------------------------------*/

/*----------------------------------------*/
/*Globals*/
/*----------------------------------------*/
body {
	background: $li-gray;
}
/*----------------------------------------*/
/*Typography*/
/*----------------------------------------*/
h1 {
	font-size: 22px;
	small {
		font-size: 16px;
	}
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 15px;
}

/*TABLES*/

.table-noborder {
  border: none;
  td, th, tr {
  	border: none;
  }
}
.table-primary {
	thead, tfoot {
		background: $darker-blue;
		color: lighten($lightest-blue, 8%);
		::after {
			color: lighten($lightest-blue, 20%);
		}
	}
}
.table-danger {
	thead, tfoot {
		background: $darker-blue;
		color: $lightest-blue;
		::after {
			color: $lightest-blue;
		}
	}
}
.table-default {
	thead, tfoot {
		background: #666;
		color: #ccc;
		::after {
			color: #ccc;
		}
	}
}
.table-primary-inverse {
	thead, tfoot {
		background: none;
		color: $darker-blue;
		font-weight: bold;
		::after {
			color: $darker-blue;
		}
	}
}
/*----------------------------------------*/
.swipe-int-icon {
	font-size: 1.6em;
	padding: none;
	margin: none;
	color: $darker-blue;
}

/*
.btn-fill {
	min-width: 65px;
	padding: none;
	.btn {
		margin: auto -7px auto 0px;
		width: 100%;
	}
}
*/

.ext-link {
	i {
	font-size: 0.7em;
	position: relative;
	bottom: -3px;
	left: -3px;
	}
}
.login {
	.form-text {
		font-weight: normal;
		font-size: 1.1em;
	}
	h1 {
	font-size: 2.2em;
	}
	.login-page-image {
		background: none;
		text-align: center;
		display: block;
		vertical-align: middle;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	/*LOST PASSWD TEXT*/
	.lostpasswd{
		color: $gray;
	}
	.lostpasswd:hover{
		color: $gray;
	}
	.panel-primary {
		border: none;
		@include box-shadow(1px 1px 4px 1px lighten($gray, 40%));
		.panel-heading {
			background: none;
			color: $li-blue;
			border: none;
		}
	}
	.panel-danger {
		border: none;
		@include box-shadow(1px 1px 4px 1px lighten($gray, 40%));
		.panel-heading {
			background: none;
			color: lighten($danger, 10%);
			border: none;
		}
	}
  	.errorlist {
    background: #E74121;
    color: #fff;
    padding: 8px;
    padding-left: 15px;
    list-style: none;
    text-indent: center;
    margin-top: 10px;
	  }
	  #id_new_password1,
	  #id_new_password2,
	  #id_email {
	  	background: none;
	  	width: 100%;
	  	margin-bottom: 5px;
	  	height: 30px;
	  	border: 1px solid #ccc;
	  	padding: 2px;
	  }
	  #id_new_password1:focus,
	  #id_new_password2:focus,
	  #id_email:focus {
  	  border: 1px solid #333;
		  @include box-shadow(0px 0px 0px 0px #333);
		  outline: 0 none;
		  @include border-radius(0);
		  height: 30px;
		  //transition: $slow;
	  }
	  label {
	  	font-weight: 400;
	  }
	.login-form {
		.alert-danger {
	    @extend .errorlist;
	    border: none;
	    outline: none;
	    ul {
	    	list-style: none;
	    	color: #fff;
	    	padding: 5px;
	    	text-align: center;
	    }
		}
	}
}

/*----------------------------------------*/

/*----------------------------------------*/
/*Definition of own default clases*/
/*----------------------------------------*/
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
/*----------------------------------------*/
.content {
	background-color: lighten($li-gray, 5%);
	margin: -11px -15px -15px -15px;
	padding: 21px 20px 5px 20px;
	min-height: 100vh; //100% of screen
	@include box-shadow(0px 0px 3px 1px #ccc);
	.well {
		@include border-radius(0);
		margin: -5px;
		padding: 15px 5px 6px 15px;
		background: #fff;
		i {
			padding-right: 12px;
		}
	}
	/*PANELS*/
	.panel {
	margin-bottom: 25px;
	@include box-shadow (1px 1px 3px 1px $li-gray);
		.panel-heading {
		//border-bottom: 1px solid #ddd;
		border: none;
		font-family: arial;
		margin-bottom: 4px;
		background: none;
		@include border-radius(0);
			.panel-title {
				margin: 0px;
				font-size: 1.1em;
				font-weight: 600;
				text-transform: uppercase;
			}
			.question {
				color: darken($li-gray, 15%);
				font-size: 1.3em;
				margin: -2px -5px auto auto;
				cursor: pointer;
			}
		}
		.panel-footer {
			margin:auto;
			padding:0px;
			.alert {
				margin:0px;
				border: none;
			}
		}
	}
	.panel-danger {
		border: none;
		outline: none;
		.panel-heading {
			.panel-title {
				color: $danger;
			}
		}
	}
	.panel-primary {
		border: none;
		.panel-heading {
			.panel-title {
				color: $primary;
			}
		}
	}
	.panel-default {
		.panel-heading {
			.panel-title {
				color: $gray;
			}
		}
	}
	table {
		font-size: 12px;
		thead {
			.upper {
				text-transform: uppercase;
			}
		}
		tbody {
			.ok-status {
				background: lighten($green, 50%);
			}
			.nok-status {
				background: lighten($orange, 15%);
			}
		}
	}
	.table-striped {
		tr:even {
			background: red;
		}
	}
	.table-hover {
		tbody
		{
			tr {
				&:hover {
					background: lighten(#ccc, 15%);
					outline: 1px solid $darker-blue;
				}
			}
		}
		.multi-level-table {
			tr:hover {
				outline: none;
			}
		}
	}
	/*Content page header*/
	.page-header {
		border-bottom: none;
		margin-top: 0px;
		padding-top: 0px;
		margin-bottom: -0.5%;
		padding-bottom: none;
		color: darken($li-gray, 40%);
		@include font-shadow(2px, 1px, 4px, lighten($li-gray, 12%));
		h1 {
			margin-top: 0px;
		}
		small {
			font-style: italic;
			font-size: 0.7em;
			color: darken($li-gray, 23%);
		}
	}
	.dt-bootstrap {
		font-size: $basic-font -2px;
		thead, tfoot {
			font-weight: bold;
			font-size: 12px;
		}
		.dt-default {
			thead, tfoot {
				background: $gray;
				color: $li-gray;
				::after {
					color: $li-gray;
				}
			}
		}
		.dt-primary {
			thead, tfoot {
				background: $darker-blue;
				color: $li-gray;
				::after {
					color: $li-gray;
				}
			}
		}
		.dt-success {
			thead, tfoot {
				background: $success;
				color: lighten($li-green, 30%);
				::after {
					color: darken($gray, 20%);
				}
			}
		}
		.dt-danger {
			thead, tfoot {
				background: $danger;
				color: lighten($danger, 45%);
				::after {
					color: $gray;
				}
			}
		}
		.form-control {
		  @include box-shadow(0px 0px 0px 0px #333);
		  outline: 0 none;
		  @include border-radius(0);
		  transition: $slow;
			&:hover, &:focus {
				border-color: $gray;
			}
			select {
				border-color: $gray;
			}
		}
		.pagination {
			@include border-radius(0);
			@include box-shadow(0);
			li {
				@include border-radius(0);
			}
			li.paginate_button.active > a {
				background: $li-gray;
				border-color: $gray;
				color: $gray;
			}
			li a {
				color: $gray;
			}
		}
	}
	.terminal-buttons {
		margin-left:5px;
		button {
			width: 31%;
			font-weight: bold;
			font-size: 0.8em;
			overflow:hidden;
			text-overflow: ellipsis;
		}
	}
	.last-swipe {
		i {
			font-size: 1.3em;
		}
	}
}

/*----------------------------------------*/
/*  ASIDE  */
/*----------------------------------------*/
.aside {
	background: none;
	margin: 0px -15px auto -15px;
	padding: 15px;
	.question {
		color: darken($li-gray, 15%);
		font-size: 1.3em;
		margin: -2px -5px auto auto;
		cursor: pointer;
	}
	.nav-tabs {
	li {
		padding:none;
		a {
			font-size: 0.9em;
			}
		}
	}
	.panel {
		margin-bottom: 8px;
		.panel-heading {
		border: none;
		background: none;
		font-family: arial;
		margin-bottom: -1px;
		padding: 0px;
		.panel-body {
			padding-top: 5px;
		}
		.panel-icon {
			font-size: 1.1em;
			margin-right: 4px;
			display: inline-block;
			color: #fff;
			background: $primary;
			width: 18%;
			height: 33px;
			//outline: 1px solid $primary;
			text-align: center;
			padding-top: 8px;
			}
		.clickable {
			}
			&:hover {
			}
		}
		.panel-title {
			font-size: 0.9em;
			text-transform: uppercase;
			font-weight: 400;
			color: $primary;
			padding: 0px;
		}
			.badge {
				margin-top: 5px;
				margin-right: 6px;
				background: $li-gray;
				text-shadow: darken($li-gray, 19%) 1px 1px 3px;
				color: #fff;
				@include border-radius(17%);
			}
	}
	.margin {
		margin-top: 25px;
	}
	.btn-group {
		&:hover .btn,
		&:focus .btn,
		&:active .btn {
			background: $primary;
			color: #fff;
			transition: $fast;
		}
		.btn {
			padding: 4px 10px 4px 10px;
		}
		.dropdown-menu {
			@include box-shadow(none);
			@include border-radius(0);
			.btn {
				&:hover {
					background: $primary;
				}
			}
			li:hover a {
				background: $primary;
				color: #fff;
				transition: $fast;
			}
		}
	}
}

.clickable{
    cursor: pointer;
}

.collabsible-list {
	list-style: none;
	margin-bottom: 0px;
	li {
		margin-bottom: 4px;
		font-size: 1.0em;
		i {
			color: lighten($lightest-blue, 11%);
			margin-right: 6px;
			font-weight: 600;
			font-size: 0.8em;
		}
	}
	.usericon {
		margin-left: 0px;
		color: #fff;
		border: none;
		font-weight: normal;
	}
	.username {
		margin-left: 5px;
	}
}

/*----------------------------------------*/
.navigable-bar {
	.navigate {
		margin: 1px auto 1px auto;
	}
	i {
		color: $primary;
	}
	list-style-type: none;
	margin-bottom: 15px;
}
/*----------------------------------------*/
.alert {
	@include border-radius(0);
	text-align: justify;
	padding: 3px 8px 6px 8px;
	font-size: 12px;
	label {
		font-size: 1.2em;
		text-transform: uppercase;
	}
	strong {
		color: #fff;
	}
	.alert-icon {
		font-size: 2em;
		float: right;
		text-align: center;
		margin-bottom: 3px;
	}
	.title {
		width: 100%;
		margin-bottom: 5px;
	}
	a {
		margin-top: 10px;
	}
}
.alert-danger {
	background: $danger;
	color: lighten($danger, 35%);
	outline: $danger 1px solid;
}
.alert-success {
	background: darken($primary, 2%);
	color: lighten($primary, 40%);
	outline: $primary 1px solid;
}
/*----------------------------------------*/
.footer {
	.navbar-fixed-bottom {
	color: $lightest-blue;
	font-size: 0.8em;
	padding-top: 0px;
	padding-bottom: 0px;
	background: $darkest-blue;
	a {
		color: #fff;
		}
	}
}
.scrollup {
	font-size: 2.3em;
}
.scrollup > i {
	color: $primary;
	transition: $mid;
}
.scrollup > i {
	&:hover,
	&:active {
			color: #fff;
	}
}
/*----------------------------------------*/
.size-5em {
	font-size: 5em;
}

.panel-no-body {
	background: none !important;
	color: #fff;
	border: none;
	@include box-shadow(none);
}
.panel-simple {
	background: #f2f2f2;
	font-weight: 400;
	.userinfo {
		color: darken($li-gray, 30%);
		@include font-shadow(2px, 1px, 4px, lighten($li-gray, 12%));
		i {
			vertical-align: middle;
			margin-top: 10px;
		}
		.username {
			font-size: 1.4em;
		}
		.userstatus {
			font-size: 0.9em;
			font-style: italic;
		}
		.badge {
			@include border-radius-side(5px);
		}
		.badge-admin {
			background: lighten($danger, 10%);
		}
	}
}

/*----------------------------------------*/
.usericon {
	display: block;
	background: orange;
	float: left;
	font-weight: bold;
	margin-left: -16px;
}
.big {
	width: $big;
	height: $big;
	font-size: $big - 10px;
}
.small {
	width: $small;
	height: $small;
	font-size: $small - 4px;
}
/*----------------------------------------*/


/*----------------------------------------*/
/*Styling BS tooltips*/
/*----------------------------------------*/
.tooltip {
	.tooltip-inner {
	background-color: #fff;
	border: 1px solid #000;
	font-size: 1.05em;
	font-style: italic;
	color: $gray;
	}
}
/*----------------------------------------*/
/*No gutter and gutters sizes - shorten all BS col*-*/
/*----------------------------------------*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.gutter-small {
	[class*='col-'] {
		padding-right:0.5%;
    padding-left:0.7%;
	}
}
/*----------------------------------------*/


/*----------------------------------------*/
/*In Lost passwd page*/
/*----------------------------------------*/


.panel-default > .panel-heading {
	color: $gray;
}

.panel-danger > .panel-heading {
	color: $danger;
}

.textinput {
  @include border-radius(0);
  transition: $slow;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
#id_new_password1:focus,
#id_new_password2:focus,
#id_email:focus {
  border: 1px solid #333;
  @include box-shadow(0px 0px 0px 0px #333);
  outline: 0 none;
  @include border-radius(0);
  transition: $slow;
}

/*Modal setups*/
.modal-content {
	@include border-radius(0);

}
.modal-primary > .modal-header {
	background: $primary;
	color: lighten($normal-blue, 39%);
}

.modal-icon {
 font-size: 1.3em;
}

/*----------------------------------------*/
/*FA, GLYPHICONS, MOBIRISE*/
.love {
	color: #ff3333;
}
.coffee {
	color: $li-gray;
}
/*----------------------------------------*/
.icon {font-size: 35px; color: #ccc; transition: $slow;}
.icon-active {font-size: 35px; color: #333; transition: $slow;}
/*----------------------------------------*/
/*BS rebuild*/

.btn,
.panel,
.panel-collapse,
.panel-group {
	@include border-radius(0);
}

.btn {
  transition: $fast;
}
/*----------------------------------------*/
/*BUTTONS custom styling*/
/*----------------------------------------*/
.btn-primary {
  background-color: #fff;
  border-color: $primary;
  color:$primary;
  @include border-radius(0);
  border-width: 2px;
  &:hover {
  	background-color: $primary;
  	border-color: $primary;
  	color: #fff;
  	@include border-radius(0);
	}
	&:focus, &:active:focus {
	background-color: darken($primary, 20%);
  border-color: darken($primary, 20%);
	}
}
/*SUCESS BTN*/
/*----------------------------------------*/
.btn-success {
  background-color: #fff;
  border-color: $success;
  color:$success;
  @include border-radius(0);
  border-width: 2px;
  &:hover {
  	background-color: $success;
  	border-color: $success;
  	color: #fff;
  	@include border-radius(0);
	}
	&:focus, &:active:focus {
	background-color: darken($success, 20%);
  border-color: darken($success, 20%);
	}
}
/*----------------------------------------*/
/*DANGER BTN*/
.btn-danger {
  background-color: #fff;
  border-color: $danger;
  color:$danger;
  @include border-radius(0);
  border-width: 2px;
  &:hover {
  	background-color: $danger;
  	border-color: $danger;
  	color: #fff;
  	@include border-radius(0);
	}
	&:focus,
	&:active:focus {
		background-color: darken($danger, 20%);
  	border-color: darken($danger, 20%);
	}
}
/*----------------------------------------*/
.separator {
	border-bottom: 1px solid #ddd;
	margin: 10px auto 15px auto;
}
/*----------------------------------------*/
/*Dashboard list groups
- for shorten infos*/
/*----------------------------------------*/
.dash-list-group {
	font-size: 14px;
	//border: 1px solid $li-gray;
	padding-top: 10px;
	padding-bottom: 10px;
	li {
		list-style-type: none;
		font-size: 1.1em;
		margin-left: -20px;
	}
	.list-separator {
		border-bottom:1px solid $li-gray;
		margin-top: 10px;
		margin-bottom: 10px;
		list-style-type: none;
		max-width:75%;
	}
	.primary {
		font-weight: bold;
		color: $primary;
		font-size: 1.2em;
	}
	.danger {
		font-weight: bold;
		color: $danger;
		font-size: 1.2em;
	}
	.success {
		font-weight: bold;
		color: $success;
		font-size: 1.2em;
	}
	margin-bottom: 20px;
}
/*----------------------------------------*/

/*----------------------------------------*/
/*BS progress bar*/
/*----------------------------------------*/
.progress {
	.primary {
		background: $primary;
	}
	margin: auto 3px auto 2px;
}

/*DASHBOARD*/
.navbar-nav > li > a,
.navbar-nav > li > .navbar-text,
.navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}

.navbar-nav > li > .navbar-text,
.menu-text {
	color: $li-gray;
	margin: 0;
}

.navbar {min-height:28px !important;}
.navbar-inverse,
.navbar-inverse:focus,
.navbar-inverse:active {
	background: $gray;
}

/*----------------------------------------*/
/*My Dropdown sliding menu*/
/*----------------------------------------*/
#myDropdown {
	.myDropBtn {
		background: $darker-blue;
		border-top: 1px solid $darker-blue;
		outline: 1px solid $darker-blue;
		padding: 15px;
		max-width: 100%;
		display: block;
		text-align: center;
		text-decoration: none;
		color: $li-blue;
		&:hover, &:focus {
			color: #fff;
		}
	}
	@include box-shadow(1px 1px 3px $darker-blue);
	.menu-icon {
		font-size: 1.7em;
		font-weight: normal;
		margin-left: -5%;
		margin-right: 10px;
	}
	.menu-text {
		text-align: center;
		padding-left: 1%;
	  font-size: 1.2em;
	  transition: $fast;
	  position: relative;
	  top: -2px;
	  color: #fff;
	}
	margin: -15px;
	margin-bottom: 15px;
	.dropmenu-item-btn {
  text-align: center;
  width: 120px;
  height: 120px;
	}
	.disabled {
		cursor: not-allowed;
		&:hover, &:focus {
			background: #ccc;
		}
	}
	.dropdown-menu {
		padding: 5px;
		top: 42px;
		margin-top: -1px;
		@include border-radius(0);
		border: none;
  	background: $darker-blue;
		@include box-shadow(inset -6px 0px 3px -5px #ccc);
		outline: none;
		li {
			margin: 0px;
			padding: 0px;
			.dropmenu-item-btn {
		 	 	padding: 30px;
  			margin: 0px;
  			color: lighten($lightest-blue, 18%);
				&:hover, &:focus, &:active {
			  color: $primary;
  			background: #f2f2f2;
				}
			}
			a {
				position: relative;
				left: 25px;
				transition: $fast;
			}
		}
		i {
		  display: block;
			font-size: 24px;
			margin-bottom: 6px;
		}
	}
}
/*----------------------------------------*/
/*custom navbar*/
/*----------------------------------------*/
$bgDefault      : $gray;
$bgHighlight    : $gray;
$colDefault     : $gray;
$colHighlight   : $gray;
.navbar-inverse {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu {
    > li > a {
      color: #fff;
      &:hover, &:focus {
        color: #fff; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: #fff;
        background-color: #fff; }}}
}
/*----------------------------------------*/
#id_time_spend {
	max-width: 75px;
}
#id_description {
	width: 100%;
}
