{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
	<div class="hidden alert alert-warning" role="alert">	
		<p class="text-left">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Your username and password didn't match. Please try again.
		</p>
	</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
	<div class="hidden alert alert-danger" role="alert">	
		<p class="text-left">
			<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;Your account doesn't have access to this page. To proceed,
    please login with an account that has access.
		</p>
	</div>
    {% else %}
	<div class="hidden alert alert-info" role="alert">	
	    <p class="text-left">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Please login to see this page.
		</p>
	</div>
    {% endif %}
{% endif %}
     <!-- -->
     <!--To make top distance on larger screens - desktop first method 
      <div class="row">  
        <div class="col-md-3 col-md-offset-2">
          <h3 class="hidden-sm hidden-xs">&nbsp;</h3>  
          <p class="visible-xs visible-sm">&nbsp;</p> 
        </div>
      </div> -->
      <!--/-->
      <div class="row">          
        <div class="col-lg-3 col-md-4 col-sm-5 center">
        <img src="{% static 'img/door.svg' %}" class="login-page-image hidden-xs hidden-sm" />        
          <div class="panel panel-primary">
            <div class="panel-heading text-center">  		
              <h1>Please login</h1>
            </div>
            <div class="panel-body">
            <div class="loader text-center">Loading form...</div>			
              <form method="post" class="login-form" action="{% url 'login' %}">
               {% csrf_token %}
			         {{form | crispy}}
                <br />            
                <div class="row">             
                  <div class="col-xs-12">            
                    <div class="login-page">
                      <input class="btn-primary btn btn-block btn-lg" type="submit" value="Login&nbsp;" />
                      <input type="hidden" name="next" value="{{ next }}" />
                    </div>          
                  </div>        
                </div>
              </form>	           			 			
            </div>	
          </div>                            
        </div> 
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">            
            <div class="login-page">
              <a href="{% url 'password_reset' %}" class="text-center col-md-12 col-xs-12 lostpasswd ext-link">Lost your password ?</a>
            </div>          
          </div>           
      </div>
      <script type="text/javascript">
      /*This script is used for styling crispy form*/
        $(document).ready(function(){
          $('.loder').show();
          $('.login-form').hide();

          //Styling Username field
          $('#id_username').attr("placeholder", "Type your username here").addClass('focused');
          $('#id_username').css('width', '82%').css('float', 'right').css('position','relative').css('top','-36px');
          $('#div_id_username').prepend('<span class="mbri-users icon" id="id_username-icon"></span>');
          //Styling Paswword field
          $('#id_password').attr("placeholder", "Type your password here").addClass('focused');
          $('#id_password').css('width', '82%').css('float', 'right').css('position','relative').css('top','-36px');
          $('#div_id_password').prepend('<span class="mbri-key icon" id="id_password-icon"></span>');
          $('#error_1_id_username strong').css("min-width", "100%").css("display","inline-block").css("color","#E74121");
          $('#error_1_id_password strong').css("min-width", "100%").css("display","inline-block").css("color","#E74121");

          $('.control-label').hide();
          //Icon animations, depended on username and password field classes: .focused
          $(".focused").focus(function(){
            var idcon;
            idcon = "#"+(this).id+"-icon";
            debugLog(idcon);
            $(idcon).removeClass("icon");
            $(idcon).addClass("icon-active");
          });
          $(".focused").focusout(function(){
            var idcon;
            idcon = "#"+(this).id+"-icon";
            $(idcon).removeClass("icon-active");
            $(idcon).addClass("icon");
          });
          $('.login-form').ready(function(){
            $('.loader').fadeOut('fast');
            $('.login-form').slideDown('slow');
          });
        });
      </script>
      <!--PACE loader - use loader before all scripts are set correctly
      <script type="text/javascript" language="javascript" src="{% static 'js/pace.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/pace-loader.css' %}">-->
{% endblock %}
