{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    <!-- -->
     <!--To make top distance--> 
      <div class="row">  
        <div class="col-md-3 col-md-offset-2">
          <h1 class="hidden-sm hidden-xs">&nbsp;</h1>  
          <p></p>
        </div>
      </div>
      <!--/-->
      <div class="row">          
        <div class="col-md-3 center">        
          <div class="panel panel-danger">
            <div class="panel-heading text-center">     
              <h1>Enter your email</h1>
            </div>
            <div class="panel-body">      
              <form action="" method="post">
                <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}     
                <div class="row">
                  <div class="col-xs-2">
                    <div class="text-center "><span class="mbri-letter icon" id="id_username-icon"></span></div>
                  </div>
                  <div class="col-xs-10">
                    <!--<input class="textinput textInput form-control focused" id="id_username" maxlength="254" name="username" type="text" placeholder="example@mail-box.abc">-->
                    {{ form.email }}
                  </div>
                </div>
                <br /> 
                <div class="row">
                  <div class="col-xs-12">
                    <p class="text-center" style="font-weight: normal; font-size: 1.1em">
                    Please type your email address to receive instructions for resetting your old password.
                    </p>
                    <p>&nbsp;</p>
                  </div>
                </div>
                           
                <div class="row">                       
                  <div class="col-xs-12 center">            
                    <span class="">
                      <input type="submit" class="btn-danger btn btn-block btn-lg" value="Reset password&nbsp;"  />
                      </a>
                    </span>
                  </div>        
                </div>              
              </form>           
            </div>  
          </div>                            
        </div> 
      </div>
     <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content modal-primary">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Email was successfuly send <span class="modal-icon fa fa-info pull-right"></span></h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-2">
                   <span class="mbri-letter size-5em blue"></span>
                  </div>
                  <div class="col-md-10">
                   <p class="text-justify">We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
                   <p>&nbsp;</p>
                   <p class="text-center">So you can check your email account and follow instructions.</p>            
                  </div>   
                </div>   
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $(document).ready(function(){
            $('#myModal').modal('show');
          });
       </script>
{% endblock %}