{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
     <!-- -->
     <!--To make top distance--> 
      <div class="row">  
        <div class="col-md-3 col-md-offset-2">
          <h3 class="hidden-sm hidden-xs">&nbsp;</h3>  
          <p class="visible-xs visible-sm">&nbsp;</p> 
        </div>
      </div>
      <!--/-->
      <div class="row">          
        <div class="col-md-3 center">
        <!--<img src="{% static 'img/door.svg' %}" class="login-page-image hidden-xs hidden-sm" />-->        
          <div class="panel panel-primary login-form">
            <div class="panel-heading text-center">  		
              <h1>Enter new password</h1>
            </div>
            <div class="panel-body">
            {% if validlink %}
               <div class="row">
                  <div class="col-xs-12">
                    <p class="text-center" style="font-weight: normal; font-size: 1.1em">
                    Please enter your new password twice. So we can verify you typed it in correctly.
                    </p>
                    <p>&nbsp;</p>
                  </div>
                </div>	  
              <form action="" method="post" class="">
                  <div style="display:none">
                      <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                  </div>
                  <div class="password-renew">
                   <div class="row">
                    <div class="col-xs-5">
                      <label for="id_new_password1">New password:</label>  
                    </div>
                    <div class="col-xs-7">
                      {{ form.new_password1 }}  
                    </div>              
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      {{ form.new_password1.errors }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-5">
                      <label for="id_new_password2">Confirm password:</label>  
                    </div>
                    <div class="col-xs-7">
                      {{ form.new_password2 }} 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      {{ form.new_password2.errors }}
                    </div>
                  </div> 
                </div>

                  <!--Repair-->
                  <p></p>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="submit" class="btn btn-block btn-primary btn-lg" value="Change my password" />
                    </div>
                  </div>                            
              </form>
          {% else %}
              <h1>Password reset unsuccessful</h1>
              <div class="alert alert-danger">
                <p>
                  The password reset link was invalid, possibly because it has already been used. 
                </p>
                <h3 class="text-center">
                  Please request a new password reset.
                </h3>  
              </div>
          {% endif %}	
                         			 			
            </div>	
          </div>
          <a href="{% url 'home' %}" class="text-center col-md-12 col-xs-12 lostpasswd ext-link">Back to Login page?</a>                        
        </div> 
        </div>
        <script type="text/javascript">
  $(document).ready(function(){    
    /*This functions makes color change on form icons*/
    $(".focused").focus(function(){
        var idcon;
        idcon = "#"+(this).id+"-icon";
        debugLog(idcon);
        $(idcon).removeClass("icon");
        $(idcon).addClass("icon-active");
    });
    $(".focused").focusout(function(){
        var idcon;
        idcon = "#"+(this).id+"-icon";
        $(idcon).removeClass("icon-active");
        $(idcon).addClass("icon");
    });
  });
</script>

{% endblock %}