{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    <!-- -->
     <!--To make top distance--> 
      <div class="row">  
        <div class="col-md-3 col-md-offset-2">
          <h1 class="hidden-sm hidden-xs">&nbsp;</h1>  
          <p></p>
        </div>
      </div>
      <!--/-->
      <div class="row">          
        <div class="col-md-3 center">        
          <div class="panel panel-danger">
            <div class="panel-heading text-center">     
              <h1>Enter your email</h1>
            </div>
            <div class="panel-body">      
              <form action="" method="post">
                <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}     
                <div class="row">
                  <div class="col-xs-2">
                    <div class="text-center "><span class="mbri-letter icon" id="id_email-icon"></span></div>
                  </div>
                  <div class="col-xs-10">
                    <!--<input class="textinput textInput form-control focused" id="id_username" maxlength="254" name="username" type="text" placeholder="example@mail-box.abc">-->
                    {{ form.email }}
                  </div>
                </div>
                <br /> 
                <div class="row">
                  <div class="col-xs-12">
                    <p class="text-center" class="form-text">
                    Please type your email address to receive instructions for resetting your old password.
                    </p>
                    <p>&nbsp;</p>
                  </div>
                </div>
                           
                <div class="row">                       
                  <div class="col-xs-12 center">            
                    <span class="">
                      <input type="submit" class="btn-danger btn btn-block btn-lg" value="Reset password&nbsp;"  />
                      </a>
                    </span>
                  </div>        
                </div>              
              </form>           
            </div>  
          </div>                            
        </div> 
      </div>
      <script type="text/javascript">
      /*This script is used for styling crispy form*/
        $(document).ready(function(){
          //Styling Email field
          
          $('#id_email').attr("placeholder", "Type your email here").addClass('focused');
          $('#id_email').css('width', '100%').css('position','relative').css('top','4px');

          //$('.control-label').hide();
          //Icon animations, depended on username and password field classes: .focused
          $(".focused").focus(function(){
            var idcon;
            idcon = "#"+(this).id+"-icon";
            debugLog(idcon);
            $(idcon).removeClass("icon");
            $(idcon).addClass("icon-active");
          });
          $(".focused").focusout(function(){
            var idcon;
            idcon = "#"+(this).id+"-icon";
            $(idcon).removeClass("icon-active");
            $(idcon).addClass("icon");
          });
        });
      </script>
{% endblock %}