{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
<!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content modal-primary">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Password successfully changed <span class="modal-icon fa fa-info pull-right"></span></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-2">
               <span class="mbri-like size-5em blue"></span>
              </div>
              <div class="col-md-10">
               <p>Your password has been set.</p>
               <p class="">You may go ahead and log in now.</p>
               <p>&nbsp;</p>
              </div>   
            </div>   
          </div>
          <div class="modal-footer">
            <a href="{{ login_url }}" class="btn btn-primary btn-block btn-lg">Go back to Login Page</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#myModal').modal('show');
      });
   </script>
{% endblock %}